.formStyle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  background: linear-gradient(135deg, #0f2d21, #1b3a2b);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
}

.labelStyle {
  font-size: 1rem;
  color: #f6f1f1;
}

input {
  width: 95%;
  padding: 10px;
  border: 2px solid #00b894;
  border-radius: 8px;
  background-color: #0f2d21;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus {
  border-color: #00ffcc;
  box-shadow: 0px 0px 8px rgba(0, 255, 204, 0.8);
}

.errorMessage {
  font-size: 0.9rem;
  color: #ff6b6b;
}

.button {
  background-color: #00b894;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #00ffcc;
  box-shadow: 0px 0px 10px rgba(0, 255, 204, 0.8);
}
